/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  margin: 0 auto;
}

/* header */
header {
  display: grid;
  gap: 10px;
  margin-bottom: 1rem;
}
.title {
  color: #fdfdfd;
  text-align: center;
}

.moves,
.end {
  text-align: center;
  color: #fdfdfd;
}
.end {
  display: none;
}

.reset {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #fdfdfd;
  border: 1px solid #fdfdfd;
  color: #222;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}
.reset:active {
  background-color: transparent;
  background-color: #222;
  color: #fdfdfd;
}

/* game */
.game {
  padding: 1rem;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  background-color: #fdfdfd;
  border-radius: 6px;
}
.card {
  width: 100%;
  height: 100%;
  background: #222;
  cursor: pointer;
}
.card:active {
  transform: scale(0.9);
}
